<!-- $Id: change_password.tpl.html,v 1.1.6.3 2019-12-04 10:27:02 dgoron Exp $ -->

<div id='change-password'>
	<div id='change-password-container'>
		<form action='empr.php' method='post' name='FormName'>
			<table width='60%' cellpadding='5'>
				{% block change_password_form %}
				<tr>
					<td width='50%'>{{ msg.empr_old_password }}</td>
					<td width='50%'>
						<input id="old_password" type='password' name='old_password' size='15' border='0' required/>
					</td>
				</tr>
				<tr>
					<td width='50%'>{{ msg.empr_new_password }}</td>
					<td width='50%'>
						<input id="new_password" type='password' name='new_password' size='15' border='0' required/>
					</td>
				</tr>
				<tr>
					<td width='50%'>{{ msg.empr_confirm_new_password }}</td>
					<td width='50%'>
						<input id="confirm_new_password" type='password' name='confirm_new_password' size='15' border='0' required/>
					</td>
				</tr>
				{% endblock %}
				<tr>
					<td colspan=2>
						<input type='hidden' name='action' value='save'/>
						<input type='hidden' name='lvl' value='change_password'/>
						<input type='button' class='bouton' name='ok' value='{{ msg.empr_valid_password }}'	onClick='if (test_change_password(this.form)) this.form.submit();' />
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>

{% block change_password_scripts %}
	<script>
		function test_change_password(form){
			var regexp_password = new RegExp("{{ global.opac_websubscribe_password_regexp }}");
			
			if (form.new_password.value.length == 0 || form.confirm_new_password.value.length == 0) {
				alert(reverse_html_entities("{{ msg.empr_change_password_form_empty }}"));
				return false;
			}
			
			if (!regexp_password.test(form.new_password.value)) {
				alert(reverse_html_entities("{{ msg.empr_password_bad_security }}"));
				return false;
			}
			return true;
		}
	</script>
{% endblock %}